[flake8]
exclude = .git,__pycache__,build,dist,hooks
ignore =
    # whitespace before ':'
    E203,
    # line break before binary operator
    W503,
    # line length too long
    E501,
    # module level import not at top of file. Currently ignoring because of header info
    E402,
    # too many leading '#' for block comment
    E266