aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17.2
appdirs==1.4.4
async-timeout==4.0.1
attrs==21.2.0
charset-normalizer==2.0.9
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.28.4
frozenlist==1.2.0
geomdl==5.3.1
idna==3.3
igraph==0.9.8
imageio==2.13.3
imageio-ffmpeg==0.4.5
Jinja2==3.0.3
kiwisolver==1.3.2
llvmlite==0.37.0
macholib==1.15.2
MarkupSafe==2.0.1
matplotlib==3.5.1
meshio==4.4.6
multidict==5.2.0
networkx==2.6.3
nibabel==3.2.1
numba==0.54.1
numpy==1.20.3
opencv-python==4.5.4.60
openpyxl==3.0.9
packaging==21.3
pandas==1.3.4
Pillow==8.4.0
psutil==5.8.0
PyExcelerate==0.10.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
PyMCubes==0.1.2
pyparsing==3.0.6
PyQt5==5.13.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-dateutil==2.8.2
python-igraph==0.9.8
pytz==2021.3
pyvista==0.30.1
pyvistaqt==0.5.0
PyWavelets==1.2.0
QtPy==1.11.3
scikit-image==0.18.1
scipy==1.7.3
scooby==0.5.9
SimpleITK==2.1.1
six==1.16.0
texttable==1.6.4
tifffile==2021.11.2
transforms3d==0.3.1
typing_extensions==4.0.1
vtk==9.1.0
wslink==1.3.0
yarl==1.7.2
