---
---

@import "{{ site.theme }}";

.wrapper {
  width: 100%;
  
}

header {
  position: unset;
  max-width: 350px;
}

section {
  width: 75%;
  float: left;
}

footer {
  position: unset;
  float: left;
  width: 100%;
}

.iframe-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-bottom: 20%;
  min-width: 250px;
  max-width: 40%;
  min-height: 200px;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
