---
---

@import "{{ site.theme }}";

.wrapper {
  width: 100%;
  
}

header {
  position: unset;
  max-width: 350px;
}

section {
  width: 75%;
  float: left;
}

footer {
  position: unset;
  float: left;
  width: 100%
}
.iframe-container {
  position: relative;
  width = 500px;
  height = 500px;
  padding-bottom: 50%;
  background: lightgrey;
}

.iframe-container iframe {
  position: absolute;
  width: 500px;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0;
}
