---
---

@import "{{ site.theme }}";

.wrapper {
  width: 100%;
  
}

header {
  position: unset;
  max-width: 350px;
}

section {
  width: 75%;
  float: left;
}

footer {
  position: unset;
  float: left;
  width: 100%;
}

.iframe-container {
  position: relative;
  width: 30vw;
  height: 23vw;
}

.iframe-container iframe {
  position: absolute;
  height: 100%;
}
